body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url(img/mainbg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

@font-face {
    font-family: Rubik One;
    src: url(Rubik One/RubikOne-Regular.ttf);
}
.header {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    padding: 0px 10px 0px 10px;
    font-size: 55px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(90deg, rgba(66, 92, 158, 0.5) 0%, rgba(255, 89, 169, 0.255208) 50.22%, rgba(211, 78, 36, 0) 100%);
    opacity: 0.9;
justify-content: space-between;
}
.header2 {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  padding: 0px 10px 0px 10px;
  font-size: 55px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(90deg, rgba(66, 92, 158, 0.5) 0%, rgba(255, 89, 169, 0.255208) 50.22%, rgba(211, 78, 36, 0) 100%);
  opacity: 0.9;
justify-content: space-between;

}
.logo {
    display: flex;
}

.text {
    opacity: 100%;
} 

.main-background {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}


.main-text {
    display: flex;
    flex-grow: 1;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 175px;
    flex-wrap: wrap;
    line-height: 248px;
    color: #FFFFFF;
    opacity: 0.8;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: center;
  }



  .footer_box {
    display: flex;
    width: 200px;
    padding-bottom: 10px;
    justify-content: space-evenly;
    opacity: 0.72;
    align-items: flex-end;

  }


  br {
    margin: 10px;
    }


    .main_info {
        color: white;
    }


  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background: rgba(57, 74, 142, 0.8);
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 25px;
    top: 100%;
  }
  

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: #ddd;}
  
  
  .dropbtn:hover .dropdown-content {display: block;}

  
  

 .overview {
  display: flex;
  background-color: ;
  align-items: center;
  justify-content: center;
  
 }



 .overview_content {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  
 }
 .overview_banner_box {
  display: flex;
  justify-content: center;

 }
 .overview_banner {
 display: flex;
 margin-top: 15px;
 
 }

 .overview_name {
  display: flex;
  color: #FFFFFF;;
  justify-content: center;
  font-size: 64px;
  font-family: 'Poppins', sans-serif;
 }

 .overview_text {
   display: flex;
  color: #FFFFFF;;
  justify-content: center;
  font-size: 48px;
  padding-left: 35px;
  padding-top: 10px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
 }





 .aanim:hover { transform: scale(1.08); transition: 0.32s;}


 a{
  margin: auto;
 }

 .ssilka {
  display: flex;
 }


 .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 

 


  .dropbtn {
    position: relative;
    display: flex;
    max-height: 148px;
    justify-content: center;
    align-items: center;
    
  }

  .dropbtn:hover {
    background-color: rgb(102,118,177, 0.8);
    transition: background-color 2s ;
  }

  .rolePlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .active_page {
    min-height: 100%;
    background: rgba(102, 118, 177, 0.8)
   }

   .rp_content_box {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    min-width: 100%;
    background: rgba(0, 0, 0, 0.8);
    background-size: cover;
    flex-grow: 1;
   }

   .rp_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    color:white;


   }

   .rp_text {
    font-size: 48px;
    color:white;
    padding-top: 15px;
    text-align: left;
    padding-left: 30px;
   }


   .rpProject {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .rp_list {
    display: flex;
    font-size: 48px;
    color:white;
    padding-top: 15px;
    text-align: left;
    padding-left: 30px;

   }

   ul {
    list-style: none;
   }


   a {
    text-decoration: none;
  color: white;  

   }

   .player_list:hover {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(102,118,177, 0.8);
    transition: background-color 2s ;
   }
   
   .dropbtn2 {
    position: relative;
    display: flex;
    max-height: 148px;
    min-width: 170px  ;
    justify-content: center;
    align-items: center;
    
  }

  .dropbtn2:hover {
    background-color: rgb(102,118,177, 0.8);
    transition: background-color 2s ;
  }


  .dropbtn2:hover .dropdown-content {display: block;}



  .container_calc {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
}

#display {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
}


.buttons{
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid#999;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}



.buttons > div {
  border-top: 1px solid #999;
  border-right: 1px solid#999;
}


#equal {
  background-color: rgb(85, 85, 255);
  color: white;
}

.button:hover {
  background-color: #323330;
  color: white;
  transition: 0.5s ease-in-out;
}


h1,
h2,
h3,
h4 {
  font-weight: 900;
}





.calc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 500px;
  padding-top: 25px;
  align-items: center;
  
}

.top {
  max-width: 700px;
  width: 100%;
  height: 100%;
  background: #364C92;
border-radius: 25px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Bebas Neue', sans-serif;
}

.result {
  color: white;
  box-sizing: border-box;
  height: 30px;
  font-size: 16px;
  margin: 0;
  padding: 7px 10px 0px 10px;
  text-align: left;
  opacity: 0.6;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
}

.screen {
  width: 95%;
  border: 0;
  font-size: 30px;
  padding: 0px 20px 5px 5px;
  text-align: right;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  overflow: hidden;
  align-items: flex-end;
  color: white;
  font-size: 100px;
}

.hints {
  opacity: 0.3;
}

.keyboard {
  max-width: 700px;
  width: 100%;
  margin-bottom: 50px;
}

.crow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  ;
  justify-content: space-around;
  ;
  width: 100%;
  min-height: 50px;
  margin: auto;
}

.crow:last-child {
  border-radius: 0px 0px 10px 10px;
}

.cb {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 5px;
  background: #8591D4;
border-radius: 15px;
  color: white;
  cursor: pointer;
  outline: 1px solid rgba(136, 14, 79, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  transition: all 0.2s;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  margin: 10px;
}

.cb:hover {
  box-shadow: 10px 10px 18px -6px rgba(233, 30, 99, 0.5);
  z-index: 1000;
}

.cb:active {
  box-shadow: inset 10px 10px 18px -6px rgba(233, 30, 99, 0.5);
}

.screentext {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.animated {
  position: relative;
  top: 0;
  animation: movetext1 .2s 1;
}

@keyframes movetext1 {
  0% {
    top: 100px;
  }
  100% {
    top: 0px;
  }
}

sup {
  vertical-align: text-top;
  font-size: 0.5em;
}

.inv {
  display: none;
}

.lighter {
  background: #8591D4;
border-radius: 15px;
font-size: 40px;
font-family: 'Bebas Neue', sans-serif;
}

.operands {
  background: #364C92;
  color: #eee;
  font-size: 1.6em;
}

.enter {
  background: #364C92;
  color: #eee;
  font-size: 2em;
}


.calculator_content_box{
  display: flex;
  justify-content: space-around;
  
}


.calc_form_box {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  background: rgba(103, 113, 168, 0.7);
border-radius: 25px;
color: #FFFFFF;
font-family: 'Bebas Neue', sans-serif;
font-size: 64px;
margin-top: 25px;
}

.calc_form_title {
  display: flex;
  justify-content: center;
}

.calc_form_text_box {
  padding-left: 30px;
}

.calc_zametki_box {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  background: rgba(161, 128, 169, 0.7);
border-radius: 25px;
color: #FFFFFF;
font-family: 'Bebas Neue', sans-serif;
font-size: 64px;
margin-top: 25px;
}

.calc_zametki_title {
  display: flex;
  justify-content: center;
}

.calc_zametki_text {
  padding-left: 30px;
}

.rpProject {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator:hover {
background-color: rgb(102,118,177, 0.8);
transition: background-color 2s ;
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 148px;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 148px;
}

.partners:hover {
  background-color: rgb(102,118,177, 0.8);
  transition: background-color 2s ;
  }


  .profile_left {
    display: flex;
    flex-direction: column;
  }

  .profile_content_box {
    display: flex;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    color: white;
    justify-content: space-around;
    margin-top: 15px;

  }

.profile_pct_box {
  display: flex;
  justify-content: center;
}

  .profile_nick_box {
    display: flex;
    justify-content: center;
    background: rgba(85, 75, 130, 0.7);
    border-radius: 15px;
    min-width: 300px;
    margin-top: 15px;
  }

  .profile_stats_box {
    display: flex;
    justify-content: flex-start;
    background: rgba(85, 75, 130, 0.7);
border-radius: 15px;
margin-top: 35px;
  }


  .profile_stats_box ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0
  }

  .profile_right {
    display: flex;
    width: 70%;
    flex-direction: column;
    background: rgba(85, 75, 130, 0.7);
border-radius: 15px;
  }

  .switch_contentbox {
    display: flex;
    margin: 15px;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    background: rgba(146, 128, 169, 0.7);
border-radius: 15px;
  }


a {
  margin: 0;
}


.tabs-header {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  font-family: Rubik One Regular;
  
}




.tabs-content {
display: flex;
position: relative;
margin: 0px 15px 0px 15px
}

.tab-content {
display: none;
padding: 15px;
background: rgba(146, 128, 169, 0.7);
border-radius: 15px 15px 15px 15px;
box-sizing: border-box;
position: absolute;
top: 0;
left: 0;
}

.fade {
  animation: tabContent .5s cubic-bezier(0.6, 0, 0.18, 0.99);
}

.tab-content_show {
 display: block;
}

.dark_bg {
  
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
    background-size: cover;
}


.tab-header_show {
  position: relative;
}


#menu123 {
   display: none;
}

@media screen and (max-width: 1188px) {
  #menu123 {
    display: block;
  }
  .dropbtn {
    display: none;
  }
  .player_list {
    display: none;
  }
  .dropbtn2 {
    display: none;
  }
  .calculator {
    display: none;
    
  }
  .partners {
    display: none;
  }
}


@media screen and (max-width: 603px) {
 .main-text {
  font-size: 125px;
 }
}

@media screen and (max-width: 436px) {
  .main-text {
   font-size: 100px;
  }
 }
 
 @media screen and (max-width: 369px) {
  .main-text {
   font-size: 75px;
  }
 }





.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.wrapper {
  max-height: 100vh;
  overflow: hidden;
}

#overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: left;
  ;
  ;
  margin-top: 30px;
  margin-left: 15PX;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: 'Bebas Neue', cursive;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
